.boxes .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
}
.boxes hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.box-sect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-sect p {
  margin: 0.5em;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #ececec;
  color: #1a0f0f;
  border-radius: 10px;
  text-align: center;

  box-shadow: 0;
  padding: 30px;

  max-width: 500px;
  line-height: 1;
}

.box-sect img {
  height: 300px;
  width: 500px;
  min-width: none;
  padding: 0%;
  margin: 0;
  max-width: 700px;
  flex: 1;
  border-radius: 5px;
}
