.boxes .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #8baadf;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  max-width: 400px;
  line-height: 1;
}

.box-sect img {
  padding: 0%;
  margin: 15px;
  max-width: 700px;
  flex: 1;
  border-radius: 10px;
}

.box-sect {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-sect p {
  margin: 0.5em;
}
