footer {
  min-height: 200px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('Coral-Reef.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.foot-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  max-width: 1400px;
}

.email-sect {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  height: 70%; /* Occupy full height of the parent */
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  height: 70%; /* Occupy full height of the parent */
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 63px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #475158;
  color: white;
}
