footer {
  min-height: 200px;
  background: #3467;
}

.foot-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  max-width: 1400px;
}

.email-sect {
}
