header {
  background-image: url('Sail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}

img {
  max-width: 400px;
  padding-left: 15px;
}
