.navbar {
  background: #347;
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.logo {
  font-size: x-large;
  font-weight: bold;
}
